@import "~bootstrap-icons/font/bootstrap-icons.css";

/* Estilos generales */
.filtro{
  background: #3C40C6;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination-buttons {
  display: flex;
  overflow-x: auto; /* Hace que el contenido sea desplazable horizontalmente */
  margin: 0 10px; /* Margen para los botones */
}

.pagination-buttons button {
  margin-right: 5px; /* Espacio entre botones */
}

.pageSelected{
  background: #3C40C6;
  color: white;
  font-weight: bold;
}

.actions{
  cursor: pointer;
}

.activeLink{
  background: #3C40C6;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.activeLink i{
  color: white !important;
}

/* Efectos */
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes trasladarAfuera {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes trasladarAdentro {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.menu {
  opacity: 1; /* Asegúrate de que el menú sea visible inicialmente */
}

.hidden {
  animation: trasladarAfuera 0.3s ease-in-out forwards;
}

.visible {
  animation: trasladarAdentro 0.3s ease-in-out forwards;
}

/* Estilos del header del landing page */
.custom-border {
    border: 1px solid #6c757d;
    border-top: none;
    border-bottom: none;
}

.custom-border:hover{
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
    box-shadow: 0px 0px 2px #6c757d,
                0px 0px 4px #6c757d,
                0px 0px 6px #6c757d;
}

.brand{
    display: none;
}

.header-landing .login-register .login{
    display: block;
    color: #555;
    text-decoration: none;
    transition: all 0.3s;
}

.header-landing .login-register .register{
    display: block;
    color: #555;
    text-decoration: none;
    transition: all 0.3s;
}

.header-landing .login-register .login:hover{
    cursor: pointer;
    color: white;
}

.header-landing .login-register .register:hover{
    cursor: pointer;
    color: white;
}

/* Estilos menu sticky landing page */

.sticky-top{
    left: 0;
    right: 0;
}

/* Clase adicional para cambiar el color de fondo al hacer scroll hacia abajo */
.sticky-scrolled {
    background-color: black;
    animation: deslizar-sticky 300ms linear;
}

@keyframes deslizar-sticky {
    0%{
        top: -100%;
    }
    100%{
        top: 0%;
    }
}

.sticky-top .navbar-brand h5{
    color: white;
}

.sticky-top .navbar-nav {
    margin-left: auto;
    margin-right: 0px !important;
}

.sticky-top .navbar-toggler{
    margin-left: auto;
}

.sticky-top .collapse .nav-item .nav-link{
    display: block;
    color: white;
}

.sticky-top .nav-item a:hover{
    color: rgb(61, 194, 61) !important;
}

.dropdown-toggle::after {
    content: '\00A0'; /* Unicode para un triángulo hacia abajo (▼) */
    display: none;
}

.dropdown-toggle:hover i{
    color: rgb(61, 194, 61);
}

.sticky-top .form{
    border: none;
}

/* Estilos inicio */
.inicio{
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(https://picsum.photos/700/400?random) center no-repeat;
    background-size: cover; 
}

.contenedor-carrusel{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel{
    width: 100%;
    height: 100%;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}

.carousel-item{
    margin-left: auto;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.botones-carrusel button{
    position: relative;
}

.botones-carrusel button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0); /* Fondo con opacidad inicial */
    transition: background-color 0.3s ease; /* Agrega una transición suave para el cambio */
    pointer-events: none; /* Permite que los eventos del ratón pasen a través del elemento pseudo */
  }

.botones-carrusel button:hover::after{
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.bottom-home{
  width: 80%;
  margin: 0px auto;
}

.pie-home{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.contenido{
    flex: 1;
    cursor: pointer;
}

.contenido-1{
    background-color: rgb(255, 193, 7);
}

.contenido-2{
    background-color: rgb(255, 185, 7);
}

.contenido-3{
    background-color: rgb(255, 180, 20);
}

  .contenido:hover{
    background-color: rgb(255, 175, 30); /* Fondo con opacidad inicial */
  }

  .contenido h1 {
    font-weight: normal;
  }

  .contenido a{
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all 300ms linear;
  }

  .contenido a:hover{
    color: #6c757d;
  }

  /* ESTILO DE LOS CURSOS */
  .cursosLanding{
    position: relative;
  }
  
  .cursos-landing{
    display: flex;
    flex-wrap: nowrap;
    gap: 3%;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .cursos-landing .curso-landing{
    flex: 0 0 22.8%; /* 25% para distribuir uniformemente 4 elementos en el 100% */
    box-sizing: border-box;
  }

  .cursos-landing .curso-landing .box-imagen {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .cursos-landing .curso-landing .box-imagen .overlay{
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    background-color: rgba(255, 175, 30, 0.5);
    transition: all 300ms ease-in-out;
  }

  .cursos-landing .curso-landing:hover .box-imagen .overlay{
    transform: translateY(0);
  }

  .cursos-landing .curso-landing .card-body div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .cursos-landing .curso-landing .card-body h1, .cursos-landing .curso-landing .card-body div p, .cursos-landing .curso-landing .card-footer .informacion .people, .cursos-landing .curso-landing .card-footer .informacion .chat{
    transition: all 300ms;
  }

  .cursos-landing .curso-landing .card-body h1:hover, .cursos-landing .curso-landing .card-body div p:hover{
    cursor: pointer;
    color: #FFD700;
  }

  .cursos-landing .curso-landing .card-footer .informacion .people:hover, .cursos-landing .curso-landing .card-footer .informacion .chat:hover{
    cursor: pointer;
    color: aqua;
  }

  .controles{
    position: absolute;
    top: 0;
    right: 0;
  }

  .controles .flechas .box{
    width: 30px;
    height: 30px;
    border: 1px solid #6c757d;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .controles .flechas .box:hover{
    background: rgb(7, 134, 219);
  }

  .controles .flechas .box:hover .flecha{
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }

  .controles .flechas .flecha{
    width: 10px;
    height: 10px;
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    margin-left: calc(50% - 7px);
    transform: rotate(135deg);
  }

  .controles .flechas .izquierda{
      margin-left: calc(50% - 3px);
      transform: rotate(-45deg);
  }

  /* Estilos estadisticas landing page */
  .estadisticas{
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(https://picsum.photos/700/400?1) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .estadisticas .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .estadisticas .items .item{
    color: white;
  }

  .estadisticas .items .item .progress{
    width: 35%;
    height: 4px;
  }

  .estadisticas .items .item .progress-bar{
    width: 100%;
  }

  /* Estilos eventos landing page */
  .eventos{
    width: 100%;
  }

  .eventos .articles{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .eventos .articles .heading{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .eventos .articles .heading .progress{
    width: 15%;
    height: 4px;
  }

  .eventos .articles .heading .progress-bar{
    width: 100%;
  }

  .eventos .articles .heading .content-right{
    height: 100%;
  }

  .eventos .articles .article{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
  }

  .eventos article{
    border-bottom: 1px solid #e3e0e0;
  }

  .eventos .last, .eventos .heading{
    border-bottom: none
  }

  .eventos .articles .article .content-left{
    width: 75%;
    display: flex;
    gap: 100px;
  }

  .eventos .articles .article .content-left .dia .dia-mes{
    color: #6c757d;
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
  }

  .eventos .articles .article .content-left .dia h1, .eventos .articles .article .content-left .dia p{
    margin: 0;
  }

  .eventos .articles .article .content-left .dia .dia-mes .dia-numero{
    display: inline-block;
    font-size: 50px;
    font-weight: normal;
  }

  .eventos .articles .article .content-left .dia .dia-semana{
    color: #6c757d;
    font-size: 45px;
    font-weight: lighter;
    margin: 0;
  }

  .eventos .articles .article .content-left .detalle h1:hover{
    color: #FFD700;
    cursor: pointer;
  }

  .eventos .articles .article .content-left .detalle a:hover{
    background-color: #FFD700;
    color: white;
    border: none;
  }

  .eventos .articles .article .content-right{
    width: 25%;
  }

  .eventos .articles .article .content-right img {
    width: 100%;
  }

  /* Estilos buscador de cursos */
  .buscador{
    background-color: #f6f3f3;
  }

  .buscador .select option:first-child {
    color: #e3e0e0;
  }

  .buscador .select option:hover {
    background-color: #FFD700;
  }

  /* Estilos Categorias landing page */
  .categorias{
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(https://picsum.photos/700/400?3) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .categorias .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .categorias .items .item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 7%;
    cursor: pointer;
  }

  .categorias .items .item:hover{
    background: rgba(255, 255, 255, 0.3);
    border-bottom: 3px solid #FFD700;
  }

  .categorias .items .item i{
    font-size: 50px;
    margin: 0;
  }

  .categorias .items .item p{
    margin: 0;
  }

  /* Estilo opiniones */
  .opiniones{
    width: 100%;
  }

  .opiniones .articles{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .opiniones .articles .article{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
  }

  .opiniones article{
    border-bottom: 1px solid #e3e0e0;
  }

  .opiniones .articles .article .content-left{
    width: 80%;
    display: flex;
    gap: 100px;
  }

  .eventos .articles .article .content-left .detalle h1:hover{
    color: #FFD700;
    cursor: pointer;
  }

  .eventos .articles .article .content-left img {
    width: 100%;
    border-radius: 50%;
  }

  /* Estilo de las noticas */
  .noticias{
    position: relative;
  }
  
  .noticias-landing{
    display: flex;
    flex-wrap: nowrap;
    gap: 3%;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .noticias-landing .noticia-landing{
    flex: 0 0 30%; /* 25% para distribuir uniformemente 4 elementos en el 100% */
    box-sizing: border-box;
  }

  .noticias-landing .noticia-landing .box-imagen {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .noticias-landing .noticia-landing .box-imagen .overlay{
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    background-color: rgba(255, 175, 30, 0.5);
    transition: all 300ms ease-in-out;
  }

  .noticias-landing .noticia-landing:hover .box-imagen .overlay{
    transform: translateY(0);
  }

  .noticias-landing .noticia-landing .card-body div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .noticias-landing .noticia-landing .card-body h1, .noticias-landing .noticia-landing .card-body div p{
    transition: all 300ms;
  }

  .noticias-landing .noticia-landing .card-body h1:hover, .noticias-landing .noticia-landing .card-body div p:hover{
    cursor: pointer;
    color: #FFD700;
  }

  .noticias-landing .noticia-landing .card-body p span:hover{
    cursor: pointer;
    color: #FFD700;
  }

  /* Estilos del footer */
  .footer-landing{
    height: 450px;
  }

  .footer-landing .main{
    width: 100%;
    border-bottom: 1px solid #6c757d;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 20px;
    overflow: hidden;
  }

  .footer-landing .main .seccion{
    flex: 1;
    overflow: hidden;
  }

  .footer-landing .main .seccion-1{
    display: flex;
    flex-direction: column;
  }

  .footer-landing .main .seccion-2 h1, .footer-landing .main .seccion-3 h1, .footer-landing .main .seccion-4 h1{
    border-bottom: 1px solid #6c757d;
  }

  .footer-landing .main .seccion-2 .cursos-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer{
    width: 100%;
    display: flex;
    gap: 25px;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer .image-overlay{
    position: relative;
    width: 25%;
    overflow: hidden;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer .image-overlay .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateX(-100%);
    background-color: rgba(255, 175, 30, 0.5);
    transition: all 300ms linear;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer:hover .image-overlay .overlay{
    transform: translateX(0%);
    color: aqua;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer .image-overlay img{
    width: 100%;
    height: 100%;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer span{
    color: aqua;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer p{
    margin: 0;
  }

  .footer-landing .main .seccion-3 ul, .footer-landing .main .seccion-4 ul{
    padding: 0;
  }

  .footer-landing .main .seccion-3 ul li{
    content: '\2022'; /* Código Unicode para un punto negro */
    color: #6c757d; /* Cambiar el color según sea necesario */
  }

  .footer-landing .main .seccion-3 ul li a{
    text-decoration: none;
    display: block;
    color: #6c757d;
    transition: all 100ms linear;
  }

  .footer-landing .main .seccion-3 ul li a:hover{
    color: white;
  }

  .footer-landing .main .seccion-4 ul{
    list-style: none;
  }

  .footer-landing .main .seccion-4 ul li{
    margin-top: 20px;
  }

  .footer-landing .main .seccion-4 ul a{
    text-decoration: none;
    display: block;
    color: #6c757d;
  }

  .footer-landing .main .seccion-4 ul a i{
    padding: 2px;
    margin-right: 10px;
  }

  .footer-landing .main .seccion-4 ul a span{
    transition: all 100ms linear;
  }

  .footer-landing .main .seccion-4 ul a span:hover{
    color: aqua;
  }

  .footer-landing .derechos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .footer-landing .derechos .redes{
    display: flex;
    gap: 10px;
  }

  .footer-landing .derechos .redes>i{
    color: #6c757d;
    transition: all 100ms linear;
  }

  .footer-landing .derechos .redes i:hover{
    color: aqua;
    cursor: pointer;
  }

/*  ESTILOS DE LA PLATAFORMA  */
/* INICIO */
.inicio-plataforma{
  position: relative;
  width: 100%;
  display: flex;
}

.open-close-arrow{
  position: absolute;
  z-index: 100;
  left: 19.5%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #3C40C6;
  border: 2px solid #3C40C6;
  cursor: pointer;
  transform: rotate(180deg);
}

.open-close:checked ~ .open-close-arrow{
  background: #3C40C6;
  color: white;
  left: 2.5%;
  transform: rotate(0deg);
}

.open-close:checked ~ .lateral{
  flex-basis: 3%;
}

.open-close:checked ~ .lateral .barra-lateral{
  width: 3%;
}

.open-close:checked ~ .lateral .barra-lateral .iconos{
  width: 100%;
}

.open-close:checked ~ .lateral .barra-lateral .textos{
  display: none;
}

.open-close:checked ~ .contenido-plataforma{
  flex-basis: 100%;
}

.open-close:checked ~ .contenido-plataforma .cabecera .cabecera-iconos{
  margin-left: 3%;
}

.inicio-plataforma .lateral{
  position: relative;
  flex-basis: 20%;
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.inicio-plataforma .lateral .barra-lateral{
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-right: 2px solid #d9dadb;
}

.inicio-plataforma .lateral .barra-lateral .iconos{
  position: absolute;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #3C40C6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.inicio-plataforma .lateral .barra-lateral .iconos .indice{
  display: block;
  color: #fff;
  font-size: 25px;
}

.inicio-plataforma .lateral .barra-lateral .iconos .navegacion-lateral{
  margin-top: 50px;
}

.inicio-plataforma .lateral .barra-lateral .iconos .navegacion-lateral ul{
  list-style: none;
  padding: 0;
}

.inicio-plataforma .lateral .barra-lateral .iconos .navegacion-lateral ul li{
  margin-top: 40px;
}

.inicio-plataforma .lateral .barra-lateral .iconos .navegacion-lateral ul li a{
  display: block;
  color: #fff;
  font-size: 25px;
  background: transparent;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  transition: all 300ms;
}

.inicio-plataforma .lateral .barra-lateral .textos{
  position: absolute;
  right: 0;
  width: 85%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transition: all 300ms linear;
}

.titulo-textos{
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #d9dadb;
  cursor: pointer;
}

.inicio-plataforma .lateral .barra-lateral .textos h1{
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 15px;
  color: #3C40C6;
  font-size: 25px;
}

.inicio-plataforma .lateral .barra-lateral .textos nav{
  margin-top: 40px;
}

.inicio-plataforma .lateral .barra-lateral .textos ul{
  list-style: none;
  padding: 0;
}

.inicio-plataforma .lateral .barra-lateral .textos ul li{
  padding: 0;
  margin-top: 45px;
  margin-left: 15px;
}

.inicio-plataforma .lateral .barra-lateral .textos ul li a{
  display: block;
  text-decoration: none;
  color: #1e1e1e;
  font-size: 18px;
  background: transparent;
  border-radius: 5px;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: color 300ms;
}

.inicio-plataforma .lateral .barra-lateral .iconos .navegacion-lateral ul .hoverIconos {
  background: white;
  color: #3C40C6;
}

.inicio-plataforma .lateral .barra-lateral .textos .navegacion-textos ul .hoverTextos {
  color: #3C40C6;
  box-sizing: border-box;
  border-right: 3px solid #3C40C6;
}

.inicio-plataforma .contenido-plataforma{
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
}

/* CABECERA */
/* Estilo básico para el botón */
.cabecera {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #d9dadb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecera .cabecera-iconos{
  flex-basis: 20%;
  display: flex;
  justify-content: space-around;
  color: #747577;
}

.cabecera .cabecera-iconos i {
  cursor: pointer;
  transition: all 300ms;
}

.cabecera .cabecera-iconos i:hover {
  color: #3C40C6;
}

.cabecera .cabecera-perfil {
  height: 100%;
  display: flex;
  margin-right: 20px;
}

.cabecera .cabecera-perfil .notificaciones{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  border-left: 1px solid #d9dadb;
  border-right: 1px solid #d9dadb;
  margin-right: 15px;
}

.cabecera .cabecera-perfil .notificaciones i {
  color: #3C40C6;
  font-size: 20px;
  cursor: pointer;
  transition: all 300ms;
}

.cabecera .cabecera-perfil .notificaciones i:hover {
  color: #6c757d;
}

.cabecera .cabecera-perfil .detalle-perfil {
  height: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cabecera .cabecera-perfil .detalle-perfil p{
  margin: 0;
}

.cabecera .cabecera-perfil .detalle-perfil .nombre{
  font-weight: bolder;
}

.cabecera .cabecera-perfil .detalle-perfil .rol{
  color: #6c757d;
  font-size: 10px;
}

.cabecera .cabecera-perfil .foto-perfil{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-boton {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%; 
  overflow: hidden;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para la imagen dentro del botón */
.imagen-boton img {
  width: 100%; /* Ajusta el tamaño de la imagen al tamaño del botón */
  height: auto;
}

/* Estilos del dashboard */
.dashboard{
  flex-grow: 1;
  background-color: #E5E9EA;
  padding: 20px;
}

.dashboard .nav-link{
  color: #292a2a;
  cursor: pointer;
}

.dashboard .dashboard-activo {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid #4b50e7;
}

.dashboard .dashboard-activo span {
  color: #4b50e7;
}

.dashboard .controles-dashboard{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .selectores-dashboard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.dashboard .select-dashboard {
  flex-grow: 1;
  flex-shrink: 1;
  box-shadow: 3px 4px 2px #d9dadb;
}

.dashboard .modal-dialog .select-dashboard .css-azjwza-control{
  width: 100%;
  margin-bottom: 15px;
}

.dashboard .modal-dialog .select-dashboard .css-12jf328-control:hover{
  border-color: none;
  width: 100%;
  margin-bottom: 15px;
}

.dashboard .select-dashboard .css-1u9des2-indicatorSeparator{
  background-color: transparent;
}

.dashboard .modulos{
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.dashboard .modulos .modulo {
  flex-basis: 18%;
  height: 175px;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 3px 5px 2px #d9dadb;
  flex-grow: 1;
  position: relative;
}

.dashboard .modulos .modulo:hover{
  background: #3C40C6;
  border: 3px solid rgba(0, 0, 0, 0.1);
  animation-name: girar;
  animation-duration: 650ms;
  animation-timing-function: linear;
}

@keyframes girar {
  0%{
    transform: rotateY(0deg);
    background: rgba(0, 0, 0, 0.4);
  }
  50%{
    background: rgba(0, 0, 0, 0.25);
  }
  100%{
    transform: rotateY(180deg);
    background: rgba(0, 0, 0, 0.1);
  }
}

.dashboard .modulos .modulo img{
  width: 55px;
  height: 55px;
  margin: 15px auto;
  margin-bottom: 8px;
  border-radius: 50%;
}

.dashboard .modulos .modulo:hover img{
  opacity: 0;
  animation: animacionImagen 300ms linear forwards;
  animation-delay: 600ms;
}

@keyframes animacionImagen {
  0%{
    opacity: 0;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-top: -50px;
  }
  100%{
    opacity: 1;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-top: -40px;
  }
}

.dashboard .modulos .modulo .card-title {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 14px;
}

.dashboard .modulos .modulo:hover .card-title{
  color: white;
  font-size: 18px;
  opacity: 0;
  animation: animacionTitulo 300ms linear forwards;
  animation-delay: 600ms;
}

.dashboard .modulos .modulo .control-header-card i{
  cursor: pointer;
  opacity: 0;
}

.dashboard .modulos .modulo:hover .control-header-card i{
  color: white;
  font-size: 18px;
  opacity: 0;
  animation: animacionTitulo 300ms linear forwards;
  animation-delay: 600ms;
}

@keyframes animacionTitulo {
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0%);
  }
}

.dashboard .modulos .modulo .acciones{
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  overflow: hidden;
}

.dashboard .modulos .modulo .card-body .acciones a{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: none;
}

.dashboard .modulos .modulo:hover .card-body .acciones a{
  display: block;
  opacity: 0;
  animation: mostrarAcciones 300ms linear forwards;
}

.dashboard .modulos .modulo:hover .card-body .acciones a:nth-child(1){
  animation-delay: 650ms;
}

.dashboard .modulos .modulo:hover .card-body .acciones a:nth-child(2){
  animation-delay: 700ms;
}

.dashboard .modulos .modulo:hover .card-body .acciones a:nth-child(3){
  animation-delay: 750ms;
}

@keyframes mostrarAcciones {
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  50%{
    opacity: 0.5;
    transform: translateY(-50%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%);
  }
}

.dashboard .modulos .modulo .card-body .acciones .tooltip-nav{
  display: none;
  transition: 300ms ease-in-out;
}

.dashboard .modulos .modulo .card-body .acciones .tooltip-nav:hover{
  display: block;
  color: white;
}

@keyframes tituloCard-animacion {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

/* Estilos de la clase */
.clase{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 4% 70% 25%;
  grid-template-rows: 100px minmax(0, 1fr);
  grid-template-areas: "menu informacion chat"
                       "menu contenido   chat";
}

.menu-clase{
  grid-area: menu;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-right: 2px solid #d9dadb;
}

.menu-clase .icon-class{
  font-size: 25px;
  color: #3C40C6;
}

.menu-clase nav{
  margin-top: 50px;
}

.menu-clase nav ul{
  height: 400px;
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu-clase nav ul li a{
  text-decoration: none;
}

.informacion-clase{
  grid-area: informacion;
}

.informacion-clase .informacion-clase-principal{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  margin-top: 15px;
  border-bottom: 2px solid #d9dadb;
  padding-bottom: 20px;
}

.informacion-clase .informacion-clase-principal .anterior-clase{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.informacion-clase .informacion-clase-principal .anterior-clase i{
  padding: 5px;
  background: rgba(184, 182, 182, 0.2);
  color: #1e1e1e;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
}

.informacion-clase .informacion-clase-principal .anterior-clase i:hover{
  background-color: #3C40C6;
  color: white;
}

.informacion-clase .informacion-clase-control{
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.informacion-clase .informacion-clase-control .siguiente-clase{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.informacion-clase .informacion-clase-control .siguiente-clase i{
  padding: 5px;
  background: rgba(184, 182, 182, 0.2);
  color: #1e1e1e;
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms;
}

.informacion-clase .informacion-clase-control .siguiente-clase i:hover{
  background-color: #3C40C6;
  color: white;
}

.informacion-clase .informacion-clase-control .siguiente-clase h1{
  color: #3C40C6;
  text-shadow: 0px 0px 0px #3C40C6,
               2px 2px 5px #3C40C6;
  cursor: pointer;
}

.informacion-clase .informacion-clase-control .siguiente-clase h1:hover{
  color: #d9dadb;
  text-shadow: 0px 0px 0px #d9dadb,
               2px 2px 5px #d9dadb;
}

.contenido-clase{
  grid-area: contenido;
  width: 100%;
}

.contenido-clase .contenido-clase-material{
  width: 90%;
  margin: 35px auto;
  position: relative;
}

.contenido-clase .contenido-clase-material video{
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
}

.contenido-clase .contenido-clase-material .progreso-video {
  width: 100%;
  height: 10px; /* Ajusta la altura */
  background-color: #3C40C6;
}

.contenido-clase .contenido-clase-material .tiempo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.contenido-clase .contenido-clase-material .tiempo i {
  color: red;
}

.contenido-clase .contenido-clase-material .tiempo span{
  color: #292a2a;
}

.contenido-clase .contenido-clase-material .controles-video{
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #d9dadb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido-clase .contenido-clase-material .controles-video .volumen .volumen-control{
  /* width: 180px; */
  padding: 10px;
  border: 1px solid #d9dadb;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.contenido-clase .contenido-clase-material .controles-video .volumen .volumen-control i{
  color: #3C40C6;
  font-size: 30px;
}

.contenido-clase .contenido-clase-material .controles-video .volumen .volumen-control i:hover{
  cursor: pointer;
}

.contenido-clase .contenido-clase-material .controles-video .volumen .volumen-control input[type="range"] {
  -webkit-appearance: none; /* Elimina la apariencia predeterminada para WebKit/Blink */
    appearance: none;
    height: 5px; /* Altura de la barra de progreso */
    background: #ddd; /* Color de fondo de la barra de progreso */
    outline: none; /* Elimina el contorno al hacer clic en algunos navegadores */
    opacity: 0.7; /* Transparencia del control */
    -webkit-transition: .2s; /* Transición suave al cambiar */
    transition: opacity .2s;
    background: #3C40C6;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px; /* Ancho del thumb */
  height: 12px; /* Altura del thumb */
  background: #3C40C6; /* Color de fondo del thumb a azul */
  cursor: pointer;
  border-radius: 50%; /* Hace el thumb cuadrado */
}

.controles-video .volumen .texto-volumen{
  color: #d9dadb;
  padding-left: 5px;
}

.contenido-clase .contenido-clase-material .controles-video .pausa-subtitulos-completa{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.contenido-clase .contenido-clase-material .controles-video .pausa-subtitulos-completa i{
  cursor: pointer;
  color: #3C40C6;
  font-size: 30px;
}

.contenido-clase .contenido-clase-material .lectura{
  width: 100%;
  height: 650px;
}

.contenido-clase .contenido-clase-material .lectura .lectura-contenido{
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding: 8px;
  border: none;
  box-shadow: 0px 0px 4px #ccc, 2px 2px 8px #ccc;
}

.contenido-clase .contenido-clase-material .lectura .lectura-contenido:hover::-webkit-scrollbar{
  display: block;
}

.contenido-clase .contenido-clase-material .lectura .lectura-contenido::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
  display: none;
}

.contenido-clase .contenido-clase-material .lectura .lectura-contenido::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color de fondo del track (fondo del scrollbar) */
}

.contenido-clase .contenido-clase-material .lectura .lectura-contenido::-webkit-scrollbar-thumb {
  background-color: #3C40C6; /* Color del thumb (la parte que el usuario arrastra) */
  border-radius: 5px; /* Radio de borde del thumb */
}

.contenido-clase .contenido-clase-material .lectura .lectura-contenido::-webkit-scrollbar-thumb:hover {
  background-color: #3C40C6; /* Cambiar el color del thumb cuando se pasa el mouse sobre él */
}

.contenido-clase .contenido-clase-material .lectura button {
  background: transparent;
  transition: all 300ms linear;
}

.contenido-clase .contenido-clase-material .lectura button:hover{
  background: #3C40C6;
  color: white;
}

.contenido-clase .contenido-clase-material .lectura .lectura-controles{
  width: 100%;
  margin-top: 25px;
}

.contenido-clase .contenido-clase-material .lectura .lectura-controles .lectura-controles-indicadores{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.contenido-clase .todolist{
  width: 100%;
  margin: 25px auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  background: #f2f3f5;
}

.contenido-clase .todolist .list{
  width: 23%;
}

.contenido-clase .todolist .list h1{
  font-size: 18px;
  font-weight: bold;
}

.contenido-clase .todolist .list .tasks{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.contenido-clase .todolist .list .tasks .card{
  cursor: pointer;
}

.contenido-clase .todolist .list .tasks .card .acciones-tarea{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.contenido-clase .todolist .list .tasks .card .acciones-tarea a{
  text-decoration: none;
  color: #6c757d;
}

.contenido-clase .todolist .list .tasks .card .acciones-tarea a span{
  font-size: 12px;
}

.contenido-clase .evaluaciones-clase{
  width: 90%;
  margin: 50px auto;
}

.contenido-clase .recursos-clase{
  width: 90%;
  margin: 50px auto;
}

.contenido-clase .recursos-clase .recurso-clase{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.contenido-clase .recursos-clase .recurso-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 20%;
  gap: 10px;
  transition: all 300ms linear;
  margin-top: 20px;
  cursor: pointer;
}

.contenido-clase .recursos-clase .recurso-item i{
  font-size: 45px;
  color: #3C40C6;
}

.contenido-clase .recursos-clase .recurso-item p{
  margin: 0;
  color: #3C40C6;
  transition: all 300ms linear;
}

.contenido-clase .recursos-clase .recurso-item:hover{
  transform: scale(1.2);
  background: rgba(184, 182, 182, 0.2);
}

.chat-clase{
  grid-area: chat;
  overflow: hidden;
  border-left: 2px solid #d9dadb;
  margin-top: 40px;
  padding: 10px;
  height: 80vh;
  box-shadow: 0px 0px 2px #ccc, 2px 2px 4px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-clase .chat-mensajes{
  width: 100%;
  height: 88%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.chat-clase .chat-mensajes:hover::-webkit-scrollbar{
  display: block;
}

.chat-clase .chat-mensajes::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
  display: none;
}

.chat-clase .chat-mensajes::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color de fondo del track (fondo del scrollbar) */
}

.chat-clase .chat-mensajes::-webkit-scrollbar-thumb {
  background-color: #3C40C6; /* Color del thumb (la parte que el usuario arrastra) */
  border-radius: 5px; /* Radio de borde del thumb */
}

.chat-clase .chat-mensajes::-webkit-scrollbar-thumb:hover {
  background-color: #3C40C6; /* Cambiar el color del thumb cuando se pasa el mouse sobre él */
}

.chat-clase .chat-info{
  width: 100%;
  height: 80px;
  margin-bottom: 12px;
  box-shadow: 0px 0px 2px #ccc, 2px 2px 4px #ccc;
  padding: 8px;
  position: relative;
  cursor: pointer;
  transition: all 300ms linear;
}

.chat-clase .chat-info:hover{
  transform: scale(1.02);
  box-shadow: 2px 2px 4px #ccc, 4px 4px 6px #ccc;
  background: rgb(245, 245, 245);
}

.chat-clase .chat-info .chat-perfil-comentario{
  width: 100%;
  display: flex;
  gap: 5px;
  position: relative;
}

.chat-clase .chat-info .chat-perfil-comentario .chat-perfil-comentario-imagen{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-clase .chat-info .chat-perfil-comentario .chat-perfil-comentario-imagen img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: fill;
}

.chat-clase .chat-info .chat-perfil-comentario .chat-perfil-comentario-detalle{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-clase .chat-info .chat-perfil-comentario .chat-perfil-comentario-detalle h1{
  font-size: 14px;
  margin: 0;
}

.chat-clase .chat-info .chat-perfil-comentario .chat-perfil-comentario-detalle p{
  width: 95%;
  margin: 0;
  color: #6c757d;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.chat-clase .chat-info .chat-fecha{
    text-align: end;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.chat-clase .chat-info .chat-fecha span{
  color: #6c757d;
  font-size: 12px;
}

.chat-clase .chat-escribir{
  width: 100%;
}

.chat-clase .chat-escribir .chat-escribir-input{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3C40C6;
  border-radius: 8px;
  padding: 10px;
}

.chat-clase .chat-escribir .chat-escribir-input input[type="text"]{
  width: 85%;
  height: 100%;
  background: transparent;
  border: none;
}

.chat-clase .chat-escribir .chat-escribir-input input[type="text"]::placeholder{
  color: #3C40C6;
}

.chat-clase .chat-escribir .chat-escribir-input input[type="text"]:active{
  outline: none !important;
  border: none;
}

.chat-clase .chat-escribir .chat-escribir-input input[type="text"]:focus{
  outline: none !important;
  border: none;
}

.chat-clase .chat-escribir .chat-escribir-input i{
  color: #3C40C6;
  cursor: pointer;
}

.evaluacion-materia .step-progreso{
  width: 100%;
  height: 50px;
  box-shadow: 2px 2px 4px #ccc, 4px 4px 6px #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.evaluacion-materia .step-progreso .progress-container {
  position: relative;
  width: 90%;
  margin: 0px auto;
  height: 5px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.evaluacion-materia .step-progreso .progress-container .progress-dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #fff;
}

.evaluacion-materia .step-progreso .progress-container .progress-dot.active {
  background-color: #FC086C;
}

.evaluacion-materia .step-progreso .progress-container .progress-bar {
  height: 100%;
  background-color: #FC086C;
}

.evaluacion-materia .evaluacion-indicadores{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evaluacion-materia .evaluacion-indicadores .titulo-evaluacion, .evaluacion-materia .evaluacion-indicadores .evaluacion-tiempo{
  font-size: 20px;
  color: #292a2a;
}

.evaluacion-materia .evaluacion-indicadores .evaluacion-enviar{
  background: #3C40C6;
  color: white;
}

.evaluacion-materia .evaluacion-indicadores .evaluacion-enviar:hover{
  background: #747577;
}

.evaluacion-materia .evaluacion-preguntas{
  width: 100%;
  height: 600px;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 2px 2px 4px #ccc, 4px 4px 6px #ccc;
  padding: 20px;
}

.evaluacion-materia .evaluacion-preguntas:hover::-webkit-scrollbar{
  display: block;
}

.evaluacion-materia .evaluacion-preguntas::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar */
  display: none;
}

.evaluacion-materia .evaluacion-preguntas::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Color de fondo del track (fondo del scrollbar) */
}

.evaluacion-materia .evaluacion-preguntas::-webkit-scrollbar-thumb {
  background-color: #3C40C6; /* Color del thumb (la parte que el usuario arrastra) */
  border-radius: 5px; /* Radio de borde del thumb */
}

.evaluacion-materia .evaluacion-preguntas::-webkit-scrollbar-thumb:hover {
  background-color: #3C40C6; /* Cambiar el color del thumb cuando se pasa el mouse sobre él */
}

.evaluacion-materia .evaluacion-preguntas .evaluacion-preguntas-cabecera{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.evaluacion-materia .evaluacion-preguntas .evaluacion-preguntas-cabecera-botones{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.evaluacion-materia .evaluacion-preguntas .evaluacion-preguntas-cabecera .evaluacion-preguntas-cabecera-boton{
  background: #3C40C6;
  color: white;
  border-radius: 20px;
  transition: all 300ms linear;
}

.evaluacion-materia .evaluacion-preguntas .evaluacion-preguntas-cabecera .evaluacion-preguntas-cabecera-boton:hover{
  background: #6c757d;
  color: #1e1e1e;
  transform: scale(1.03);
}

.evaluacion-materia .evaluacion-preguntas-contenido {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.evaluacion-materia .evaluacion-preguntas-contenido .evaluacion-preguntas-contenido-notas{
  width: 100%;
  height: 40px;
  background: #3C40C6;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.evaluacion-materia .evaluacion-preguntas-contenido .evaluacion-preguntas-contenido-opciones .evaluacion-preguntas-contenido-opciones-lista{
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.evaluacion-materia .evaluacion-preguntas-contenido .evaluacion-preguntas-contenido-opciones .evaluacion-preguntas-contenido-opciones-lista .evaluacion-preguntas-contenido-opciones-opcion{
  width: 100%;
  height: 25px;
  padding: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #d8d6d6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.evaluacion-materia .evaluacion-preguntas-contenido .evaluacion-preguntas-contenido-opciones .evaluacion-preguntas-contenido-opciones-lista .evaluacion-preguntas-contenido-opciones-opcion span{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d8d6d6;
}

.evaluacion-materia .evaluacion-preguntas-contenido .evaluacion-preguntas-contenido-opciones .evaluacion-preguntas-contenido-opciones-lista .evaluacion-preguntas-contenido-opciones-opcion .contenido-pregunta{
  margin: 0;
}

/* Metadatos de la clase */
.metadatos-clase{
  width: 100%;
  height: 100vh;
  position: relative;
}

.metadatos-clase .metadatos-clase-titulo{
  width: 100%;
  height: 5vh;
  background-image: linear-gradient(to bottom right,#3C40C6, #4b50e7);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.metadatos-clase .metadatos-clase-titulo i{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 10px;
  color: #3C40C6;;
  background: #EBEAF3;
}

.metadatos-clase .metadatos-clase-titulo h1{
  color: #EBEAF3;
  font-size: 30px;
  font-style: italic;
}
.metadatos-clase .metadatos-clase-contenido{
  width: 100%;
  height: 70vh;
}

.metadatos-clase .metadatos-clase-contenido .metadatos-clase-contenido-informacion{
  width: 100%;
  height: 100%;
}

.metadatos-clase .metadatos-clase-imagen{
  position: absolute;
  width: 450px;
  right: 40px;
  bottom: 80px;
  z-index: -1;
}

.metadatos-clase .metadatos-clase-pie{
 width: 100%; 
 height: 24vh;
 background-image: linear-gradient(to bottom right,#3C40C6, #4b50e7);
}

.metadatos-clase .metadatos-clase-pie ul{
  width: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.metadatos-clase .metadatos-clase-pie ul li{
  flex-basis: 25%;
  height: 24vh;
  background: transparent;
  border-right: 1px solid white;
  color: #d9dadb;
  font-size: 40px;
  cursor: pointer;
  padding: 10px;
}

.metadatos-clase .metadatos-clase-pie ul li:last-child{
  border: none;
}

.metadatos-clase .metadatos-clase-pie ul li:hover{
  background-color: #e9e4e4;
  color: #1e1e1e;
  border-top: 10px solid #FC086C;
}

.metadatos-clase .metadatos-clase-pie ul .actived{
  background-color: #e9e4e4;
  color: #1e1e1e;
  border-top: 10px solid #FC086C;
}

.perfilUsuario {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.perfilUsuario .foto-nombre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.perfilUsuario .foto-nombre .perfilUsuario-foto{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid #4b50e7;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.perfilUsuario .foto-nombre .perfilUsuario-foto img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

.perfilUsuario .foto-nombre .perfilUsuario-nombre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.perfilUsuario .foto-nombre .perfilUsuario-nombre span{
  padding: 10px;
  cursor: pointer;
  transition: all 300ms;
}

.perfilUsuario .foto-nombre .perfilUsuario-nombre span:hover{
  background: transparent !important;
  color: black;
}

.perfilUsuario .foto-nombre .perfilUsuario-nombre i{
  width: 100%;
  display: block;
  font-size: 25px;
  cursor: pointer;
  transition: all 300ms;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.perfilUsuario .foto-nombre .perfilUsuario-nombre i:hover{
  border: 1px solid #292a2a;
}