@import "~bootstrap-icons/font/bootstrap-icons.css";

/* Estilos generales */
.filtro{
  background: #3C40C6;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination-buttons {
  display: flex;
  overflow-x: auto; /* Hace que el contenido sea desplazable horizontalmente */
  margin: 0 10px; /* Margen para los botones */
}

.pagination-buttons button {
  margin-right: 5px; /* Espacio entre botones */
}

.pageSelected{
  background: #3C40C6;
  color: white;
  font-weight: bold;
}

.actions{
  cursor: pointer;
}

/* Estilos del header del landing page */
.custom-border {
    border: 1px solid #6c757d;
    border-top: none;
    border-bottom: none;
}

.custom-border:hover{
    border-top: 1px solid #6c757d;
    border-bottom: 1px solid #6c757d;
    box-shadow: 0px 0px 2px #6c757d,
                0px 0px 4px #6c757d,
                0px 0px 6px #6c757d;
}

.brand{
    display: none;
}

.header-landing .login-register .login{
    display: block;
    color: #555;
    text-decoration: none;
    transition: all 0.3s;
}

.header-landing .login-register .register{
    display: block;
    color: #555;
    text-decoration: none;
    transition: all 0.3s;
}

.header-landing .login-register .login:hover{
    cursor: pointer;
    color: white;
}

.header-landing .login-register .register:hover{
    cursor: pointer;
    color: white;
}

/* Estilos menu sticky landing page */

.sticky-top{
    left: 0;
    right: 0;
}

/* Clase adicional para cambiar el color de fondo al hacer scroll hacia abajo */
.sticky-scrolled {
    background-color: black;
    animation: deslizar-sticky 300ms linear;
}

@keyframes deslizar-sticky {
    0%{
        top: -100%;
    }
    100%{
        top: 0%;
    }
}

.sticky-top .navbar-brand h5{
    color: white;
}

.sticky-top .navbar-nav {
    margin-left: auto;
    margin-right: 0px !important;
}

.sticky-top .navbar-toggler{
    margin-left: auto;
}

.sticky-top .collapse .nav-item .nav-link{
    display: block;
    color: white;
}

.sticky-top .nav-item a:hover{
    color: rgb(61, 194, 61) !important;
}

.dropdown-toggle::after {
    content: '\00A0'; /* Unicode para un triángulo hacia abajo (▼) */
    display: none;
}

.dropdown-toggle:hover i{
    color: rgb(61, 194, 61);
}

.sticky-top .form{
    border: none;
}

/* Estilos inicio */
.inicio{
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(https://picsum.photos/700/400?random) center no-repeat;
    background-size: cover; 
}

.contenedor-carrusel{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel{
    width: 100%;
    height: 100%;
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}

.carousel-item{
    margin-left: auto;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.botones-carrusel button{
    position: relative;
}

.botones-carrusel button::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0); /* Fondo con opacidad inicial */
    transition: background-color 0.3s ease; /* Agrega una transición suave para el cambio */
    pointer-events: none; /* Permite que los eventos del ratón pasen a través del elemento pseudo */
  }

.botones-carrusel button:hover::after{
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
}

.bottom-home{
  width: 80%;
  margin: 0px auto;
}

.pie-home{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.contenido{
    flex: 1;
    cursor: pointer;
}

.contenido-1{
    background-color: rgb(255, 193, 7);
}

.contenido-2{
    background-color: rgb(255, 185, 7);
}

.contenido-3{
    background-color: rgb(255, 180, 20);
}

  .contenido:hover{
    background-color: rgb(255, 175, 30); /* Fondo con opacidad inicial */
  }

  .contenido h1 {
    font-weight: normal;
  }

  .contenido a{
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all 300ms linear;
  }

  .contenido a:hover{
    color: #6c757d;
  }

  /* ESTILO DE LOS CURSOS */
  .cursosLanding{
    position: relative;
  }
  
  .cursos-landing{
    display: flex;
    flex-wrap: nowrap;
    gap: 3%;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .cursos-landing .curso-landing{
    flex: 0 0 22.8%; /* 25% para distribuir uniformemente 4 elementos en el 100% */
    box-sizing: border-box;
  }

  .cursos-landing .curso-landing .box-imagen {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .cursos-landing .curso-landing .box-imagen .overlay{
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    background-color: rgba(255, 175, 30, 0.5);
    transition: all 300ms ease-in-out;
  }

  .cursos-landing .curso-landing:hover .box-imagen .overlay{
    transform: translateY(0);
  }

  .cursos-landing .curso-landing .card-body div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .cursos-landing .curso-landing .card-body h1, .cursos-landing .curso-landing .card-body div p, .cursos-landing .curso-landing .card-footer .informacion .people, .cursos-landing .curso-landing .card-footer .informacion .chat{
    transition: all 300ms;
  }

  .cursos-landing .curso-landing .card-body h1:hover, .cursos-landing .curso-landing .card-body div p:hover{
    cursor: pointer;
    color: #FFD700;
  }

  .cursos-landing .curso-landing .card-footer .informacion .people:hover, .cursos-landing .curso-landing .card-footer .informacion .chat:hover{
    cursor: pointer;
    color: aqua;
  }

  .controles{
    position: absolute;
    top: 0;
    right: 0;
  }

  .controles .flechas .box{
    width: 30px;
    height: 30px;
    border: 1px solid #6c757d;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  .controles .flechas .box:hover{
    background: rgb(7, 134, 219);
  }

  .controles .flechas .box:hover .flecha{
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }

  .controles .flechas .flecha{
    width: 10px;
    height: 10px;
    border-left: 3px solid black;
    border-top: 3px solid black;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    margin-left: calc(50% - 7px);
    transform: rotate(135deg);
  }

  .controles .flechas .izquierda{
      margin-left: calc(50% - 3px);
      transform: rotate(-45deg);
  }

  /* Estilos estadisticas landing page */
  .estadisticas{
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(https://picsum.photos/700/400?1) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .estadisticas .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .estadisticas .items .item{
    color: white;
  }

  .estadisticas .items .item .progress{
    width: 35%;
    height: 4px;
  }

  .estadisticas .items .item .progress-bar{
    width: 100%;
  }

  /* Estilos eventos landing page */
  .eventos{
    width: 100%;
  }

  .eventos .articles{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .eventos .articles .heading{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .eventos .articles .heading .progress{
    width: 15%;
    height: 4px;
  }

  .eventos .articles .heading .progress-bar{
    width: 100%;
  }

  .eventos .articles .heading .content-right{
    height: 100%;
  }

  .eventos .articles .article{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
  }

  .eventos article{
    border-bottom: 1px solid #e3e0e0;
  }

  .eventos .last, .eventos .heading{
    border-bottom: none
  }

  .eventos .articles .article .content-left{
    width: 75%;
    display: flex;
    gap: 100px;
  }

  .eventos .articles .article .content-left .dia .dia-mes{
    color: #6c757d;
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
  }

  .eventos .articles .article .content-left .dia h1, .eventos .articles .article .content-left .dia p{
    margin: 0;
  }

  .eventos .articles .article .content-left .dia .dia-mes .dia-numero{
    display: inline-block;
    font-size: 50px;
    font-weight: normal;
  }

  .eventos .articles .article .content-left .dia .dia-semana{
    color: #6c757d;
    font-size: 45px;
    font-weight: lighter;
    margin: 0;
  }

  .eventos .articles .article .content-left .detalle h1:hover{
    color: #FFD700;
    cursor: pointer;
  }

  .eventos .articles .article .content-left .detalle a:hover{
    background-color: #FFD700;
    color: white;
    border: none;
  }

  .eventos .articles .article .content-right{
    width: 25%;
  }

  .eventos .articles .article .content-right img {
    width: 100%;
  }

  /* Estilos buscador de cursos */
  .buscador{
    background-color: #f6f3f3;
  }

  .buscador .select option:first-child {
    color: #e3e0e0;
  }

  .buscador .select option:hover {
    background-color: #FFD700;
  }

  /* Estilos Categorias landing page */
  .categorias{
    width: 100%;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(https://picsum.photos/700/400?3) center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .categorias .items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .categorias .items .item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 7%;
    cursor: pointer;
  }

  .categorias .items .item:hover{
    background: rgba(255, 255, 255, 0.3);
    border-bottom: 3px solid #FFD700;
  }

  .categorias .items .item i{
    font-size: 50px;
    margin: 0;
  }

  .categorias .items .item p{
    margin: 0;
  }

  /* Estilo opiniones */
  .opiniones{
    width: 100%;
  }

  .opiniones .articles{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .opiniones .articles .article{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
  }

  .opiniones article{
    border-bottom: 1px solid #e3e0e0;
  }

  .opiniones .articles .article .content-left{
    width: 80%;
    display: flex;
    gap: 100px;
  }

  .eventos .articles .article .content-left .detalle h1:hover{
    color: #FFD700;
    cursor: pointer;
  }

  .eventos .articles .article .content-left img {
    width: 100%;
    border-radius: 50%;
  }

  /* Estilo de las noticas */
  .noticias{
    position: relative;
  }
  
  .noticias-landing{
    display: flex;
    flex-wrap: nowrap;
    gap: 3%;
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  .noticias-landing .noticia-landing{
    flex: 0 0 30%; /* 25% para distribuir uniformemente 4 elementos en el 100% */
    box-sizing: border-box;
  }

  .noticias-landing .noticia-landing .box-imagen {
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

  .noticias-landing .noticia-landing .box-imagen .overlay{
    position: absolute;
    top: 0%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    background-color: rgba(255, 175, 30, 0.5);
    transition: all 300ms ease-in-out;
  }

  .noticias-landing .noticia-landing:hover .box-imagen .overlay{
    transform: translateY(0);
  }

  .noticias-landing .noticia-landing .card-body div img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }

  .noticias-landing .noticia-landing .card-body h1, .noticias-landing .noticia-landing .card-body div p{
    transition: all 300ms;
  }

  .noticias-landing .noticia-landing .card-body h1:hover, .noticias-landing .noticia-landing .card-body div p:hover{
    cursor: pointer;
    color: #FFD700;
  }

  .noticias-landing .noticia-landing .card-body p span:hover{
    cursor: pointer;
    color: #FFD700;
  }

  /* Estilos del footer */
  .footer-landing{
    height: 450px;
  }

  .footer-landing .main{
    width: 100%;
    border-bottom: 1px solid #6c757d;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 20px;
    overflow: hidden;
  }

  .footer-landing .main .seccion{
    flex: 1;
    overflow: hidden;
  }

  .footer-landing .main .seccion-1{
    display: flex;
    flex-direction: column;
  }

  .footer-landing .main .seccion-2 h1, .footer-landing .main .seccion-3 h1, .footer-landing .main .seccion-4 h1{
    border-bottom: 1px solid #6c757d;
  }

  .footer-landing .main .seccion-2 .cursos-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer{
    width: 100%;
    display: flex;
    gap: 25px;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer .image-overlay{
    position: relative;
    width: 25%;
    overflow: hidden;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer .image-overlay .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateX(-100%);
    background-color: rgba(255, 175, 30, 0.5);
    transition: all 300ms linear;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer:hover .image-overlay .overlay{
    transform: translateX(0%);
    color: aqua;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer .image-overlay img{
    width: 100%;
    height: 100%;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer span{
    color: aqua;
  }

  .footer-landing .main .seccion-2 .cursos-footer .article-footer p{
    margin: 0;
  }

  .footer-landing .main .seccion-3 ul, .footer-landing .main .seccion-4 ul{
    padding: 0;
  }

  .footer-landing .main .seccion-3 ul li{
    content: '\2022'; /* Código Unicode para un punto negro */
    color: #6c757d; /* Cambiar el color según sea necesario */
  }

  .footer-landing .main .seccion-3 ul li a{
    text-decoration: none;
    display: block;
    color: #6c757d;
    transition: all 100ms linear;
  }

  .footer-landing .main .seccion-3 ul li a:hover{
    color: white;
  }

  .footer-landing .main .seccion-4 ul{
    list-style: none;
  }

  .footer-landing .main .seccion-4 ul li{
    margin-top: 20px;
  }

  .footer-landing .main .seccion-4 ul a{
    text-decoration: none;
    display: block;
    color: #6c757d;
  }

  .footer-landing .main .seccion-4 ul a i{
    padding: 2px;
    margin-right: 10px;
  }

  .footer-landing .main .seccion-4 ul a span{
    transition: all 100ms linear;
  }

  .footer-landing .main .seccion-4 ul a span:hover{
    color: aqua;
  }

  .footer-landing .derechos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  .footer-landing .derechos .redes{
    display: flex;
    gap: 10px;
  }

  .footer-landing .derechos .redes>i{
    color: #6c757d;
    transition: all 100ms linear;
  }

  .footer-landing .derechos .redes i:hover{
    color: aqua;
    cursor: pointer;
  }

/*  ESTILOS DE LA PLATAFORMA  */
/* INICIO */
.inicio-plataforma{
  width: 100%;
  display: flex;
}

.inicio-plataforma .lateral{
  position: relative;
  flex-basis: 20%;
  height: 100vh;
  display: flex;
}

.inicio-plataforma .lateral .barra-lateral{
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  display: flex;
}

.inicio-plataforma .lateral .barra-lateral .iconos{
  height: 100%;
  background-color: #3C40C6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.inicio-plataforma .lateral .barra-lateral .iconos .indice{
  display: block;
  color: #fff;
  font-size: 25px;
}

.inicio-plataforma .lateral .barra-lateral .iconos .navegacion-lateral{
  margin-top: 50px;
}

.inicio-plataforma .lateral .barra-lateral .iconos .navegacion-lateral ul{
  list-style: none;
  padding: 0;
}

.inicio-plataforma .lateral .barra-lateral .iconos .navegacion-lateral ul li{
  margin-top: 40px;
}

.inicio-plataforma .lateral .barra-lateral .iconos .navegacion-lateral ul li a{
  display: block;
  color: #fff;
  font-size: 25px;
  background: transparent;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;
  transition: all 300ms;
}

.inicio-plataforma .lateral .barra-lateral .textos{
  flex-grow: 1;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.titulo-textos{
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #d9dadb;
  cursor: pointer;
}

.inicio-plataforma .lateral .barra-lateral .textos h1{
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 15px;
  color: #3C40C6;
  font-size: 25px;
}

.inicio-plataforma .lateral .barra-lateral .textos nav{
  margin-top: 40px;
}

.inicio-plataforma .lateral .barra-lateral .textos ul{
  list-style: none;
  padding: 0;
}

.inicio-plataforma .lateral .barra-lateral .textos ul li{
  padding: 0;
  margin-top: 45px;
  margin-left: 15px;
}

.inicio-plataforma .lateral .barra-lateral .textos ul li a{
  display: block;
  text-decoration: none;
  color: #1e1e1e;
  font-size: 18px;
  background: transparent;
  border-radius: 5px;
  border-right: 3px solid transparent;
  border-top: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: color 300ms;
}

.inicio-plataforma .lateral .barra-lateral .iconos .navegacion-lateral ul .hoverIconos {
  background: white;
  color: #3C40C6;
}

.inicio-plataforma .lateral .barra-lateral .textos .navegacion-textos ul .hoverTextos {
  color: #3C40C6;
  box-sizing: border-box;
  border-right: 3px solid #3C40C6;
}

.inicio-plataforma .contenido-plataforma{
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
}

/* CABECERA */
/* Estilo básico para el botón */
.cabecera {
  width: 100%;
  height: 50px;
  border-left: 2px solid #d9dadb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecera .cabecera-iconos{
  flex-basis: 20%;
  display: flex;
  justify-content: space-around;
  color: #747577;
}

.cabecera .cabecera-iconos i {
  cursor: pointer;
  transition: all 300ms;
}

.cabecera .cabecera-iconos i:hover {
  color: #3C40C6;
}

.cabecera .cabecera-perfil {
  height: 100%;
  display: flex;
  margin-right: 20px;
}

.cabecera .cabecera-perfil .notificaciones{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  border-left: 1px solid #d9dadb;
  border-right: 1px solid #d9dadb;
  margin-right: 15px;
}

.cabecera .cabecera-perfil .notificaciones i {
  color: #3C40C6;
  font-size: 20px;
  cursor: pointer;
  transition: all 300ms;
}

.cabecera .cabecera-perfil .notificaciones i:hover {
  color: #6c757d;
}

.cabecera .cabecera-perfil .detalle-perfil {
  height: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cabecera .cabecera-perfil .detalle-perfil p{
  margin: 0;
}

.cabecera .cabecera-perfil .detalle-perfil .nombre{
  font-weight: bolder;
}

.cabecera .cabecera-perfil .detalle-perfil .rol{
  color: #6c757d;
  font-size: 10px;
}

.cabecera .cabecera-perfil .foto-perfil{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen-boton {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%; 
  overflow: hidden;
  background: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilo para la imagen dentro del botón */
.imagen-boton img {
  width: 100%; /* Ajusta el tamaño de la imagen al tamaño del botón */
  height: auto;
}

/* Estilos del dashboard */
.dashboard{
  border-left: 2px solid #d9dadb;
  border-top: 2px solid #d9dadb;
  flex-grow: 1;
  background-color: #E5E9EA;
  padding: 20px;
}

.dashboard .controles-dashboard{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .selectores-dashboard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.dashboard .select-dashboard {
  flex-grow: 1;
  flex-shrink: 1;
  box-shadow: 3px 4px 2px #d9dadb;
}

.dashboard .select-dashboard .css-1u9des2-indicatorSeparator{
  background-color: transparent;
}

.dashboard .modulos{
  width: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.dashboard .modulos .modulo {
  flex-basis: 18%;
  height: 175px;
  margin-top: 5px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 5px 2px #d9dadb;
  flex-grow: 1;
}

.dashboard .modulos .modulo img{
  width: 55px;
  height: 55px;
  margin: 15px auto;
  margin-bottom: 8px;
  border-radius: 50%;
}

.dashboard .modulos .modulo .card-body{
  padding: 0;
}

.dashboard .modulos .modulo .card-title {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 14px;
}

.dashboard .modulos .modulo .card-body .acciones{
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.dashboard .modulos .modulo .card-body .acciones a:hover{
  border: none;
  background-color: #747577;
}